.infoBlock_container{
  width: 180px;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorsCounter, .timer{
  font-size: 30px;
}
@media (max-width: 1201px){
  .errorsCounter, .timer{
    font-size: 18px;
    line-height: 20px;
  }
}